{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block main %}
<div class="contact-container">
    <h3>Contact Me</h3>
    <form class="contact-form">
        <div class="input-field">
            <input type="text" placeholder="Your Name" required>
        </div>
        <div class="input-field">
            <input type="email" placeholder="Your Email" required>
        </div>
        <div class="message-field">
            <input type="text" placeholder="Your Message" required>
        </div>
        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}