{% extends "layout.html" %}

{% block title %} Favorites {% endblock %}

{% block main %}
<h3>Favorites:</h3>
<div class="shop-content">
    {% for game in favorite_games %}
        <div class="game-container">
            <!-- Correctly linking to the game's page -->
            <a href="{{ url_for ('game', title = game['title']) }}">
                <!-- Correctly referencing the game's thumbnail -->
                <img src="{{ game['thumbnail'] }}" alt="{{ game['title'] }}">
                <span>{{ game['title'] }}</span>
            </a>
        </div>
    {% endfor %}
    {% if not favorite_games %}
        <p>You dont own any favorite games yet check our <a href="shop.html">Shop</a></p>
    {% endif %}
</div>
{% endblock %}