{% extends "layout.html" %}

{% block title %}
    {{ game['title'] }}
{% endblock %}

{% block main %}
        <div class="game-preview">
            <h4>Game Preview:</h4>
            <img src="{{ url_for('static', filename=game['preview'].replace('static/', '')) }}" alt="Preview of {{ game['title'] }}" width="700px" height="500px">
            <br>
            <p> {{ game['description'] }} </p>
            <br>
            <button type="submit">{{ game['price'] }}</button>
        </div>
{% endblock %}
