{% extends "layout.html" %}

{% block title %}
    HOME
{% endblock %}

{% block main %}

<div class="section-1">
    <div class="section-style">
        <h3>Featured games</h3>
            <form action="/buy" method="Post">
                <div class="image-container">
                    <li>
                        <a href="game.html">
                        <i class="fa-solid fa-file-invoice fa-xl">
                    </i>
                    <div class="image-content">
                        <h5> name</h5>
                        <button type="submit">499$</button>
                    </div>
                        </a>
                    </li>
                </div>
            </form>
    </div>
</div>
<div class="section-2">
    <div class="section-style">
        <h3>Recently played</h3>
    </div>
</div> 
<div id="container"></div>
<div class="game">

    <script>
        window.RufflePlayer = window.RufflePlayer || {};
        
        window.addEventListener("DOMContentLoaded", () => {
            let ruffle = window.RufflePlayer.newest();
            let player = ruffle.createPlayer();
        let container = document.getElementById("container");
        container.appendChild(player);
        player.load("{{ url_for('static', filename='games/boxhead.swf') }}");
    });
    </script>   
</div>

{% endblock %}
